@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat/subset-Montserrat-Light.woff2") format("woff2"),
      url("/fonts/Montserrat/subset-Montserrat-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat/subset-Montserrat-Regular.woff2")
        format("woff2"),
      url("/fonts/Montserrat/subset-Montserrat-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat/subset-Montserrat-Medium.woff2") format("woff2"),
      url("/fonts/Montserrat/subset-Montserrat-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat/subset-Montserrat-SemiBold.woff2")
        format("woff2"),
      url("/fonts/Montserrat/subset-Montserrat-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat/subset-Montserrat-Bold.woff2") format("woff2"),
      url("/fonts/Montserrat/subset-Montserrat-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Montserrat Fallback";
    font-style: normal;
    font-weight: 300;
    src: local("Arial");
    ascent-override: 86.13%;
    descent-override: 22.33%;
    line-gap-override: 0%;
    size-adjust: 112.39%;
  }
  @font-face {
    font-family: "Montserrat Fallback";
    font-style: normal;
    font-weight: 400;
    src: local("Arial");
    ascent-override: 84.97%;
    descent-override: 22.03%;
    line-gap-override: 0%;
    size-adjust: 113.92%;
  }
  @font-face {
    font-family: "Montserrat Fallback";
    font-style: normal;
    font-weight: 500;
    src: local("Arial");
    ascent-override: 83.59%;
    descent-override: 21.67%;
    line-gap-override: 0%;
    size-adjust: 115.8%;
  }
  @font-face {
    font-family: "Montserrat Fallback";
    font-style: normal;
    font-weight: 600;
    src: local("Arial Bold");
    ascent-override: 88.84%;
    descent-override: 23.04%;
    line-gap-override: 0%;
    size-adjust: 108.96%;
  }
  @font-face {
    font-family: "Montserrat Fallback";
    font-style: normal;
    font-weight: 700;
    src: local("Arial Bold");
    ascent-override: 87.19%;
    descent-override: 22.61%;
    line-gap-override: 0%;
    size-adjust: 111.02%;
  }

  html {
    font-family: ebony, sans-serif;
    scroll-behavior: smooth;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    @apply mt-[0.8em] mb-[0.5em] first:!mt-0;
  }

  textarea::-webkit-scrollbar {
    @apply hidden;
  }
}

@layer components {
  .container {
    @apply w-full px-4 mx-auto max-w-container;
  }
}
